@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body {
    background-image: url(../img/Фон\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.header-nav {
    background: rgba(0, 0, 0, 0.4);
    margin: auto;
    top: 0px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    min-height: 6vh;
}


.header-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid rgba(255, 255, 255, 0.582);
}

.header-nav-item:hover {
    color: #3CB878;
}

.logo {
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.logo:hover {
    color: #3CB878;
}


.header-nav-item {
    color: white;
    font-size: 25px;
    padding-right: 27px;
}

.nav-side {
    display: flex;
    align-items: center;
    margin-right: 50px;
}


.header-nav-title {
    padding-left: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    cursor: default;
    font-size: 20px;
}


.header-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header-link:hover {
    color:#3CB878;
    transition: .3s;
}


.contact-form-container {
    width: 444px;
    margin: 0 auto;
    margin-top: 30px ;
    position:relative;
    background-color: white;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    
}

.contact-form-container::before{
    content: '';
    position: absolute;
    display: block;
    top: 30px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    
}

.form-wrapper {
    width: 324px;
    margin: 0 auto;
    
}

.form-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
}



.form-title-wrap a {
    color:#3CB878;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
}

.form-title-wrap a:hover{
    text-decoration: underline;
}

.form-title-wrap h3{
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: 300;
    cursor: default;
}

.form-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    position: relative;


}


.form-btn-wrap::after {
    content: '';
    position: absolute;
    bottom: 6px;
    right: 0;
    background: #F2F2F2;
    width: 148px;
    height: 1px;
}


.form-btn-wrap::before{
    content: '';
    position: absolute;
    bottom: 6px;
    background: #F2F2F2;
    width: 148px;
    height: 1px;
}

.social-btn {
   
    display: inline-block;
    width: 160px;
    line-height: 48px;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    font-weight: 400;

}


.social-btn--facebook {
    background-color: #305DB8;
    font-size: 17px;
    margin-right: 8px;
    position: relative;
}

.social-btn--facebook::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background: #0A162F;
    opacity: 0.2;
    top: 10px;
    left: 40px;
}



.social-btn--facebook:hover{
    background-color: #022263;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: box-shadow 0.2s ease-in-out;

}

.social-btn--google {
    background-color:#DF4A32;
    font-size: 17px;
    position: relative;
}

.social-btn--google::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background: #0A162F;
    opacity: 0.2;
    top: 10px;
    left: 50px;
}

.social-btn--google:hover{
    background-color: #AB1F09;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: box-shadow 0.2s ease-in-out;
}

.form-btn-wrap i {
    font-size: 26px;
    padding-right: 35px;
    padding-left: 10px; 
}



fieldset{

    border: none;
    width: 100%;
}



#contact {
    margin-top: 15px;

}

#contact::before{
    content: 'or';
    position: absolute;
    top: 155px;
    left:  216px;
    color: #848484;
}
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="password"] {
    
    width: 100%;
    margin-bottom: 10px;
    padding: 16px 10px 16px 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    outline: 0;
  }


  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="password"]:hover {

    transition: box-shadow 0.2s ease-in-out;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  }


  #contact input::placeholder{
      color: #bebebe;
      font-weight: 300;
  }
  
  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  label{
      font-weight: 200;
  }

  .terms-link {
      text-decoration: none;
      color: #3CB878;
      padding-left: 3px;
      
  }

  .terms-link:hover{
      text-decoration: underline;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
   
    
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color: #eef0ed;
    background-color: #3CB878;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }



.submit-btn {
    display: inline-block;
    width: 100%;
    line-height: 46px;
    margin: 20px 0 20px 0;
    background: rgba(60, 184, 120, 0.8);
    border: none;
    border-radius: 4px;
    color: white;
}

.submit-btn:hover {
    background-color: #01813F;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition:  0.2s ease-in-out;
}