.game-item {
    text-decoration: none;
    color: white;
    width: 320px;
    height: 300px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
	backdrop-filter: blur(1px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(245, 237, 237, 0.1)
	);
	box-shadow: rgba(0, 0, 0, 0.59) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.game-item:not(:last-child) {
    margin-bottom: 30px;
    margin-right: 50px;
}

.game-item__title {
    font-size: 18px;
    font-weight: bold;
}

.game-item__genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.game-item__details{
    padding: 10px 20px;
}

.game-item__description {
    margin-top: 10px;
    font-size: 14px;
}

.game-item__buy {
    position: absolute;
    right: 0;
    bottom: -12px;
}


.game-item__star{
   position: absolute;
   bottom: 25px;
}

.game-item__star:hover{
    color:rgb(235, 161, 26);
}