.order-page {
    display: flex;
    justify-content: space-between;
}

.order-page__sumtitle{
    font-size: 20px;
}

.order-page__left {
    width: 60%;
}

.order-page__right {
    width: 30%;
    font-size: 18px;
    font-weight: bold;
}