@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import './variables.scss';

body{
    background-color: $main-color;
}


.container{
    margin: 40vh auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}