.favorite-page {
    display: flex;
    justify-content: space-between;
}

.favorite-page__left {
    width: 70%;
}

.favorite-page__right {
    width: 27%;
    font-size: 18px;
    font-weight: bold;
}