@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
}

header
{
    box-shadow: 0px 7px 13px rgb(0, 0.9, 0.9, 0.9);
    position: sticky;
    top: 0px;
    background: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    
}


.nav-links li  {
    list-style: none;
}

.nav-links a {
    color: red;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}


.nav-links a:hover {
    border-bottom: solid 2px red;
    
}

.container {
    background: url(/img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;
    height: 92vh;
}


h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;  
    text-align: center;
    font-size: 22px;
    margin-top: 48px;
    margin-bottom: 38px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    line-height: 27px;
    color: #373737;
    
}
.home {
    align-items: center;
    height: auto;
    

}

.btn-section {
    height: 30vh;
    position: relative;
  
}

.first-p {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    line-height: 26px;
    margin: 0px 67px 28px 67px;
    letter-spacing: 2.4px;
}

.second-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    line-height: 26px;
    margin: 0px 67px 0px 67px;
    letter-spacing: 2.4px;
    text-align: center;
}


.btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat';
    font-weight: 900;
    font-size:19px;
    color:white;
    background-color: red;
    border-radius: 10px;
    padding: 15px;
    text-decoration: none;
    letter-spacing: 3px;
  
}


.btn:hover {
    
    border: solid 2px black;
}



footer {
    height: 10vh;
    background-color: black;

}

footer p {
    padding-top: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 19px;
    color: white;
}