.modal {
	color: white;
	font-family: 'Quicksand';
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;

		h3{
			font-size: 18px;
			text-align: left;
			margin: 8px;
		}
		p {
			font-size: 14px;
		}
}

.modal.close{
	visibility: hidden;
	opacity: 0;
}

.modal.open{
	visibility: visible;
	opacity: 1;
}


.modal-container {
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	padding: 20px 0;
	border-radius: 16px;
	border: 1px solid rgba(43, 42, 42, 0.13);
	border-radius: 8px;
	background: rgb(216, 87, 64);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.modal-cross.show {
	cursor: pointer;
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	top: 8px;
	right: 22px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg)
		brightness(106%) contrast(103%);
	transition: all 0.1s ease;
}

.modal-cross.hide{
	display: none;
}


.modal-cross:hover {
	transform: scale(1.15);
}

hr{
	width: 99%;
}

.modal-content{
	margin: 1vh;
	display: flex;
	justify-content: space-around;
}