.favorite-item {
    display: flex;
    margin-bottom: 30px;
}

.favorite-item__cover {
    width: 200px;
    margin-right: 30px;
}

.favorite-item__title {
    font-size: 24px;
    font-weight: bold;
}

.favorite-item__price {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}

