@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';

}

.page-wrapper{  
    min-width: 1200px;
    margin:0 auto;
}

.content-box {
    max-width: 1160px;
    margin: 0 auto;
}

header {
   

    top: 0px;
    height: 100vh;
    background-image: url(../img/sections/section-1\(header\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}


.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 100px;
    background: rgba(94, 93, 88, 0.6);
    
}

.header-nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    
    
}   


.header-nav-item {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    line-height: 100px;
 
    
}


.header-nav-link {
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
  
}


.header-nav-link:hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    transition: all .3s linear;
}


.header-title-wrap{
   margin-top: 20vh;
   text-align: center;
   color: white;
}


.header-title-wrap h3{
   
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
}

.header-span {
    color: #18CFAB;
}

.header-title-wrap h4{
    font-size: 70px ;
}

.header-title-wrap h5{
    font-size: 24px ;
    font-weight:300;
    color:rgba(212, 212, 212, 1)
}



.btn-wrap{
   
    margin-top: 12vh;
}



.btn {

    display: inline-block;
    padding: 17px;
    background-color: #18CFAB;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
}

.btn--exp {
    margin-right: 20px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn--buy{
    background-color: #00CBF6;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn--exp:hover {
    background-color: #246b5d;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: all 0.2s ease-in-out;
}

.btn--buy:hover {
    background-color: #218ba0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: all 0.2s ease-in-out;
}



.option-boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 240px;

}


.option-wrap{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.option-item{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.option-item--dark {
    background-color: #1C2A33;
    color: white;
}

.option-item--dark p {
    margin-top: 25px;
    color:#18CFAB;
    
}

.option-item--light {
    background-color: #18CFAB;
    color: white;
}

.option-item--light p{
    margin-top: 42px;
}


.our-services {
     margin-top: 70px;
}

.section-title{
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    position: relative;
    padding-bottom: 20px;
    padding-top: 7vh;
}

.section-title::before, .section-title::after  {
    content: '';
    position: absolute;
    width: 70px;
    left: 550px;
    background-color: #18CFAB;
    height: 1px;
}

.section-title::before{
    bottom: 4px;
    left: 550px;
   
}

.section-title::after{
    bottom: 0px;
    left: 560px;
}


.services-nav {
    min-width: fit-content;
    margin-top: 60px;
    background-color:  #F8FCFE;;
    height: 54px;
    color: rgba(113, 113, 113, 1);
    font-size: 18px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.services-nav-list {
    display: flex;
    list-style: none;
    
}


.services-nav-item {
    border: 1px solid #EDEFEF;
    padding:15px;
    width: 193.33px;
    text-align: center;
    cursor: pointer;
    position: relative;
}


.services-nav-item.active::after  {
    content: '';
     height: 15px;
     width: 15px;
     position: absolute;
     background-color: #18cfab;
     top: 40px;
     left: 85px;
    transform: rotate(45deg);
    
}

.services-nav-item.active  {
    background-color: #18CFAB;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.services-item-block {
    margin: 30px 0px  80px 0;
    display: flex;
    justify-content: space-between;
    display: none;
}


.services-item-block.active{
    display: inline-flex;
}


.services-item-block p {
     margin-left: 20px;
}

.purchase-section {
    background-image: url(../img/sections/section-2.jpg) ;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    text-align: center;
   
}

.purchase-title {
    padding-top: 14vh;
    color: #18CFAB;
    font-weight: 600;
    font-size: 42px;
    text-transform: uppercase;
    

}

.purchase-subtitle {
    padding-top: 4vh;
    color: #D8D8D8;
    font-size: 16px;
    font-weight: 300;
}

.btn--buynow{
    margin-top: 5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn--buynow:hover{
background-color: #246b5d;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
transition: all 0.2s ease-in-out;

}



.our-work{
    background: #E9EDEF;
    text-align: center;
    
}

.nav-wrap{
    margin-top: 10vh;
}


.nav-our-work {
    
    width: 780px;
    margin: 0 auto;
    margin-bottom: 8vh;
    background: rgb(247, 246, 246);
    font-size: 15px;
    color: rgba(113, 113, 113, 1);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 
}

.nav-work-list{
   list-style: none;
   display: flex;
   justify-content: space-around;
    
    
}

.nav-work-item{
    border: 2px solid #EDEFEF;
    padding:15px;
    width: 156px;
    text-align: center;
    cursor: pointer;
}


.nav-work-item.active{
    background-color: #18CFAB;
    color: white;
    border: 2px solid #18CFAB;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-work-item:hover {
    border: 2px solid #18CFAB;
}



.our-work-gallery{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10vh;
    border: 1px solid transparent;
}

.work-gallery-item img {
    width: 100%;
    height: 100%;
}

.gallery-preview {
    border: 1px solid transparent;
  height: 100%;
  padding-top: 30%;
  display: none;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
}

.gallery-preview h5{
    font-size: 16px;
    color: #18CFAB;
    text-transform: uppercase;
}
.gallery-preview p {
    padding-top: 8px;
    color: #8A8A8A;
    font-size: 14px;
    font-weight: 200;
}


 .work-gallery-item:hover .gallery-preview{
    display: block;
} 

.work-gallery-item:hover img{
    display: none;
}


.hide{
    display: none;
}





.btn--more{
    border: none;
    font-family: 'Montserrat';
    margin-top: 8vh;
    margin-bottom: 8vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.btn--more:hover{
    background-color: #246b5d;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.span-more{
    font-size: 14px;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #18CFAB;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  




.breaking-news{
    margin-bottom: 8vh;
}

.news-posts{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    
}


.news-posts figcaption{
    text-align: center;
    margin-bottom: 6vh;
  
}


.news-posts figure{
    position: relative;
    cursor: pointer;
    
}

.news-posts img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.news-posts figure::before{
    content: '    12 \a    Feb';
    white-space: pre;
    position: absolute;
    padding: 8px;
    top: 0px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: #203E38;
    color: white;
    
    

}
.news-posts figure:hover::before{
    background-color: #18CFAB;
} 

.news-posts figure:hover .news-title{
    color: #18CFAB;
}

.news-title{
    margin-top: 10px;
    color: #222222;
    font-weight: 600;
    font-size: 16px;
}

.news-subtitle{
    margin-top: 6px;
    font-weight: 200;
    font-size: 14px;
    position: relative;
}



.span-news{
padding-left: 35px;
}



.span-news::before{
    content: '';
    position: absolute;
    background: #777777;;
    width: 1px;
    height: 16px;
    bottom: 0;
    left: 126px;
}



.what_people_say{
    background: url(../img/sections/section-3.jpg) center;
    background-repeat: no-repeat;
    height: 80vh;
    
}


.slider{
    margin: 0 auto;
    text-align: center;
}

.img-wrap{
    padding-top: 5vh;
    margin: 0 auto;
    text-align: center;
}


.quote{
    padding-top: 2vh;
    text-align: center;
    color:rgba(187, 187, 187, 1);
    font-size: 16px;
}


.quote-img{
    margin: 0 auto;
    text-align: center;
    padding-top: 2vh;
    position: relative;
}




.quote-img  img{
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    border: 6px solid rgb(10, 83, 69);
}


.quote.active{
    display: block;
    animation: fadeIn linear 1s;
}


.quote {
    display: none;
  
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    50%{opacity: 0.5;}
    100% {opacity:1;}
  }




.portSlider.active{
    display: inline-block;
   
}

.portSlider{
    display: none;
}

.port-title{
    color: #18CFAB;
    font-size: 18px;
    margin-top: 4vh;
    display: none;
}

.port-title.active{
    display: block;
    animation: fadeIn linear 0.7s;

}

.port-subtitle.active{
    display: block;
    animation: fadeIn linear 0.9s;
    text-shadow: 2px 2px 4px #b1afaf;
}

.port-subtitle{
    color: rgba(187, 187, 187, 1);
    margin-top: 4px;
    font-size: 14px;
    font-weight: 300;
    display: none;
}

.preview-wrap{
    padding-top: 2vh;
    max-width: fit-content;
    margin:  0 auto;
}


.slider-img-section{
    display: inline-block;

}

.arrow-left img, .arrow-right img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 50px;
    filter: invert(75%) sepia(9%) saturate(16%) hue-rotate(340deg) brightness(91%) contrast(92%);
    cursor: pointer;
}

.arrow-left img:hover, .arrow-right img:hover{
    filter: invert(55%) sepia(83%) saturate(1192%) hue-rotate(124deg) brightness(99%) contrast(90%);
}


.preview-img-slider.active{
    border: 5px solid rgb(255, 255, 255);
    animation-name: slideIn;
    animation-duration: 0.4s;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    
   
}

.preview-img-slider{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(13, 202, 164);
    margin-right: 20px;
    margin-left: 20px;
   
}


.p-active{
    display: block;
}



.gallery-best{
  
    margin-bottom: 10vh;
}

.gallery-best-images {
    margin-top: 4vh;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
} 

.gallery-best-images figure {
    background-color: white;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}






footer{
    background: #22353F;
    height: 10vh;
    text-align: center;
}

footer p {
    padding-top: 4vh;
    color:  #AEAEAE;
}


#scrollup {
    position: fixed; 
    opacity: 10; 
    padding: 15px 10px 10px; 
    background:rgba(255, 255, 255, 0);
    border-radius: 1px; 
    border-radius: 5px;
    left: 10px; 
    bottom: 10px; 
    display: none; 
    cursor: pointer;
   }
    