.bmusic-card {
	display: flex;
	justify-content: center;
	object-fit: cover;
	position: relative;
	padding: 10px;
	border: 1px solid rgba(43, 42, 42, 0.13);
	border-radius: 25px;
	backdrop-filter: blur(15px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(245, 237, 237, 0.3)
	);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
	
	transition: all .2s	;
}

.bmusic-card:hover{

	transform: scale(1.1);
}



.bsection-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px;
}


.bcard-content{
	display: flex;
	flex-direction: row;
	align-items: center;
    margin:20px;
}

.bcard-img img {

	border-radius: 35px;
	width: 216px;
	height: 200px;
	box-shadow: rgba(0, 0, 0, 0.39) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.bcard-text{
	display: flex;
	flex-direction: column;
	text-align: left;
    font-size: 22px;
    margin-left: 20px;

	h4{
		width: 180px;
		margin: 14px;
	}
}


.favorite-star{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
}

.favorite-star.active{
	color: rgb(255, 196, 0);
}



.rating-star{
	display: flex;
	flex-direction: row;
}


.close-wrap{
	position: absolute;
	top: 15px;
	right: 30px;
		img{
		filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg)
		brightness(106%) contrast(103%);
		}
		img:hover{
			cursor: pointer;
		}
}