@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';

}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    
    
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.logo:hover{
    filter: invert(52%) sepia(73%) saturate(3918%) hue-rotate(350deg) brightness(100%) contrast(91%);
}

.logo-svg   {
    padding-right: 10px; 
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.info {

    display: flex;
    flex-direction: column;  
}

.email {
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    
   
    
}

.tel {
    text-decoration: none;
    color: white;
    margin-right: 0;
    margin-left: auto;
}

.email:hover{
    color: #F26522;
}

.tel:hover{
    color: #F26522;
}


.feature {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 60px;
    animation: .7s linear slideup;
   
}


@keyframes slideup {
    from {
      margin-top: 100%;
    }
  
    to {
      margin-bottom: 0%;
    }
  }


.feature-img {
  width: 100%;
  position: relative;
  z-index:1;
  bottom: 0;
  transition: all .2s ease-in-out;

}

.figure-wrapp::after {
    content: "View Details  >";
    white-space:pre;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    
}

.feature figcaption {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 20px;

}


.feature-link {
    text-decoration: none;
}



.figure-wrapp{
    position: relative;
    height: fit-content;
    border-left: 3px solid;
    border-right: 2px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(255, 252, 252), 
      rgba(5, 5, 5, 0)
    ) 1 100%;
}
    



.description {
    position: absolute;
    color:#fffbfb;
    font-size:20px;
    width: 100%;
    height: 75px;
    background: #F26522;
    bottom:0;

}

.description-title {
    font-size: 14px;
    font-weight: 100;
    padding: 10px
  
}

.description-span {
    padding:  14px;
    font-size: 25px;
}


.feature-link:hover .feature-img{
    bottom: 70px;
}

.feature-link:hover figcaption {
    color: #F26522;
}


.footer-title {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: white;
    margin: 30px 0 30px 0;
}