nav {
    display: flex;
    align-self:center;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    

        & .nav-links{
            display: flex;
            justify-content: space-around;
            width: 80%;
            list-style: none;
            text-transform: uppercase;           
        }
       & .nav-links a{
           cursor: pointer;
           color: $main-color;
           text-decoration: none;
           font-size: 0.9em;
           letter-spacing: 4px;
       }
}


.nav-links a:hover{
    color: $hover-color;
    transition: .3s;
}



.burger {
    
    display: none;
    cursor: pointer;
    margin: 4px;
  
   
}

.burger div {
    width: 25px;
    height: 3px;
    margin:5px;
    background-color:rgb(255, 255, 255);
    transition: all 0.3s ease;
         
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.toggle .line1 {    
    transform:  rotate(-45deg) translate(-5px, 6px);
    background-color: white;
}
.toggle .line2 {    
    opacity: 0;
}
.toggle .line3 {    
    transform:  rotate(45deg) translate(-5px, -6px);
    background-color: white;
}



.main-img{
    & img {
        max-width: 100%;
    }
}