@media screen and (max-width:520px){

    body {
        overflow-x: hidden;
    }

nav{
    margin-top: 0;
    margin-bottom: 0;
    justify-content: flex-end;
}
    
   .nav-links{
        display: none;
        position: absolute;
        top: 8vh;
        height: 50vh;
        flex-direction: column;
        background: #F5F5F5;
        box-shadow: $shadow;
        transform: translateX(120%);
        transition: transorm ease-in-out .4s;
        z-index: 9999;        
     }

    .nav-links li{
        padding: 10px 0 10px 20px;
        opacity: 0;
    }

    .nav-links a {
        
        text-transform: uppercase;
        font-weight: 800;
    }


    .nav-links li:hover  {
        background: $sub-color;
        cursor: pointer;
            & a {
                color: #21d4d4;
            }
    }

    .burger {
        display: block;
        background-color: rgba(75, 74, 74, 0.753);
    }

     
    .nav-active {
    transform: translateX(55%);
    transition: transform .2s ease-in;
    
    }

    .item-text{
        
        padding: 0;
            & h5{
                font-size: 0.8em;    
            }
            & .text {
                display: none;
            }
            & .subtitle{
                font-size: 0.6em;
                color: rgba(124, 124, 124, 1);
                margin-bottom: 0.9em;
            }
        }
        .item-img{
           
            & img {
                max-width: 100%;    
            }
        }  

        .post-item{
            flex-direction: column;
        }


}


@media screen and (max-width:868px){
    
    .post-item{
    flex:0 0 100%;
    margin-bottom: 20px;
    }


    nav{
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    
    .nav-links{
       font-size: 0.7em;
       min-width: 100%;
    }
    .footer-title{
        font-size: 0.8em;
    }
    footer{
        & p {
            font-size: 0.7em;
        }
    }
}


@media screen and (max-width:320px) {
    .item-text{
        
        padding: 2px 4px 3px 10px;
            & h5{
                font-size: 0.6em;
                margin-bottom: 0.2em;
                
            }
            & p {
                display: none;
            }
            & .subtitle{
                font-size: 0.5em;
                color: $sub-color;
                margin-bottom: 0.8em;
            }
        }
        .footer-title{
            font-size: 0.6em;
        }
        footer{
            & p {
                font-size: 0.5em;
            }
        }

    
       
      

}