@mixin main-page{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@mixin main-wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4vh;
}

@mixin footer-wrap {
    max-width: 684px;
    margin: 0 auto;
    padding: 5vh;
}