.music-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	object-fit: cover;
	position: relative;
	width: 260px;
	padding: 10px;
	border: 1px solid rgba(43, 42, 42, 0.13);
	border-radius: 25px;
	backdrop-filter: blur(15px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(245, 237, 237, 0.3)
	);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
	
	transition: all .2s	;
}

.music-card:hover{

	transform: scale(1.1);
}

.card-content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-img img {
	border-radius: 35px;
	width: 216px;
	height: 200px;
	box-shadow: rgba(0, 0, 0, 0.39) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-text{
	display: flex;
	flex-direction: column;
	text-align: left;
    font-size: 22px;

	h4{
		width: 180px;
		margin: 14px;
	}
}


.favorite-star{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
}

.favorite-star.active{
	color: rgb(255, 196, 0);
}



.rating-star{
	display: flex;
	flex-direction: row;
	
}