@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import './variables.scss';

body{
	
	background-color: rgb(15, 29, 26);
    font-family: 'Quicksand';
    color: white;
}

.page-wrapper {
	max-width: 1000px;
	margin: 5vh auto;
	padding: 0 10vh;
}

header{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border: 1px solid rgba(43, 42, 42, 0.13);
	border-radius: 35px;
	backdrop-filter: blur(15px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(245, 237, 237, 0.3)
	);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.nav-list{
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-item{
    font-size: 18px;
    width: 120px;
    text-align: center;
    cursor: pointer;
	text-transform: uppercase;
    transition: all 0.2s;
	
}

.nav-item:hover{
    transform: scale(1.2);
    color: $sub-color;
}


.basket-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.2s;
    filter: invert(99%) sepia(7%) saturate(192%) hue-rotate(301deg) brightness(112%) contrast(87%);
}


.star-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all 0.2s;
}

.basket-icon:hover, .star-icon:hover{
    transform: scale(1.2);
    color: rgb(230, 126, 7);
}


.content{
    margin-top: 10vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3vh;
}



.star-content{
    padding: 10px;
}

.basket-count{
    font-size: 26px;
    margin-left: 14px;
}

.nav-link{
    text-decoration: none;
    color: white;
}