
body{

    background-image: url(../img/starsky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    overflow: hidden;
    cursor: default;
}

audio {
  display: none;
}


.rogue-one {
  display: flex;
  justify-content: center;
  position: relative;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  height: 600px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.text {
  position: relative;
  transform-origin: 100% 120%;
  animation: text 110s infinite;
}

 .title {
  font-size: 90%;
  text-align: center;
}

 .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes text {
  0% {
    top: 500px;
    transform: rotateX(40deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}



