<footer>
      
    <div class="footer-wrap">
        <h5 class="footer-title">- get in touch with us -</h5>
        <p>Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
             <div class="footer-icons">
                    <a href=""><img src="./img/Dribbble.svg" alt="Dribbble"></a>
                    <a href=""><img src="./img/Facebook.svg" alt="Facebook"></a>
                    <a href=""><img src="./img/Pinterest.svg" alt="Pinterest"></a>
                    <a href=""><img src="./img/Twitter.svg" alt="Twitter"></a>
             </div>
             <p> Moonshine St. 14-05 Light City   /   T. +00 (123) 456 78 90   /   first.last@email.com</p>
   </div>
</footer>