@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');




body {
font-family: 'Roboto';
}

.container {
    
    margin: 60px auto;
    max-width: 1283px;
}



nav {
    background-color: #35444F;
    height: 72px;
    width: 1283px;    
}




.nav-list{

    text-align: center;
    list-style: none;
    height: 100%; 
}

nav li {
    
    font-size: 20px;
    display: inline-block;
    width: 20%;
   
    
}

nav a {
    padding-top:26px;
    padding-bottom: 19px;
    height: 100%;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    border-left: 1px solid white ;
}

nav a:hover {
    background-color: #222F3A;

}




.home{

    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    
}



.main-img {
    
    margin-left: auto;
    transition: all .4s ease-in-out;
    

}

.main-img:hover{

    transform: scale(1.06);
}



.side-nav {
   border: solid 1px grey;
   width: 20%;
   font-size: 20px;

   }


.side-nav ul {
    list-style: none;
    padding-left: 0;

    
}

.side-nav a {
    padding: 20px;
    text-decoration: none;
    display: block;
    padding-left: 30px;
    color: black;
   

}


.side-nav a:hover {
    background-color: #DBDBDB;
    font-weight: bold;
   text-align: center;
}


.section-text {
     max-width: 885px;
     margin-left: auto; 
    margin-right: 0;
    font-size: 18px;
}


footer {
display: flex;
background-color: rgba(99, 105, 110, 0.48);;
height: 50px;
margin-top: 50px;
font-weight: bold;


}


.footer-nav ul{

   
    display: flex;
    list-style:none;
    
}

.footer-nav li {
padding-right: 80px;
display: inline-block;

}


.footer-nav a {
    
    text-decoration: none;
    display: block;
    color: black; 
    font-size: 18px;
    
}

.footer-nav a:hover{
    color:rgb(82, 82, 199);
    border-bottom: 1px solid rgb(82, 82, 199) ;
}

.copyright {
    font-size: 10px;
    display: inline-block;
    margin-left: auto; 
    margin-right: 50px;
}