.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    flex-grow: 1;
}

.header__store-title {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.header__nav-title{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.header__nav{
    display: flex;
    width:400px;
    justify-content: space-around;
    align-items: center;
    
}
.header__nav li {
    list-style: none;
    white-space: pre;
}