body {
    background-color: rgb(104, 150, 177);
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
    font-size: 1.3em;
}

.wrapper {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


ul{
    padding: 10px;
    margin-top: 10px;
}

button{
    margin: 10px;
}

input{
    width: 300px;
    height: 25px;
    border: 4px solid transparent;
}

#error{
    color: red;
   
}

.invalid { 
    border: 4px solid red; 
}

.focused {
    border: 4px solid green;
}

:focus-visible{
    outline: transparent;
}



.hide{
    display: none;
}