

.btn{
    font-family: 'Quicksand';
	cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 14px;
	border-radius: 10px;
	border: 1px solid rgba(247, 235, 235, 0.13);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn:hover{
	box-shadow: rgba(255, 255, 255, 0.151) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
}