.order-page__form{
    display: block;
    position: relative;
    padding: 24px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    border: 1px solid rgb(167, 163, 163);
    border-radius:24px;
	backdrop-filter: blur(4px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(168, 166, 166, 0.4)
	);
    box-shadow: rgba(0, 0, 0, 0.59) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.order-page__form input {
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    line-height: 1.5em;
    padding: 4px 6px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 5px 10px 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    outline: 0;
}


  .order-page__form input:hover {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.91);
  }

.order-page__form .error{
    color: red;
    font-weight: 700;
    font-size: 16px;
}


.order-page__submit{
    display: block;
    margin: 2vh auto;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: black;
}