.basket-item{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    border: 1px solid rgba(43, 42, 42, 0.13);
	border-radius: 35px;
	backdrop-filter: blur(15px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(245, 237, 237, 0.3)
	);
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
       
}


