.modal {
	color: white;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.795);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal h3{
	font-size: 26px;
}

.modal.close{
	
	visibility: hidden;
	opacity: 0;
}

.modal.open{
	visibility: visible;
	opacity: 1;
}


.modal-container {
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 200px;
	padding: 20px 0;
	border-radius: 16px;
	backdrop-filter: blur(7px);
	background: radial-gradient(
		at 100% 0%,
		rgba(0, 0, 0, 0),
		rgba(129, 129, 129, 0.4)
	);
	transition: all .2s	;
}


.modal-cross {
	cursor: pointer;
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	top: 8px;
	right: 22px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg)
		brightness(106%) contrast(103%);
	transition: all 0.1s ease;
}

.modal-cross.hide{
	display: none;
}


.modal-cross:hover {
	transform: scale(1.15);
}

hr{
	width: 99%;
}

.modal-content{
	margin: 1vh;
	display: flex;
	justify-content: space-around;
}