@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans';
    background-color: #F2F2F2;
}



.logo-title {
    display: inline-block;
    font-size: 27px;
    margin-left: 10px;
    color: white;
}

.nav-logo {
    margin-left: 40px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;

}

.nav-search {
    
    background-color: #000000;
    padding: 3vh;
    border: 1px solid black;
    cursor: pointer;
}

.header-nav {
    
    margin: auto;
    display: flex;
    align-items:center;
    min-height: 6vh;
    top: 0px;
    background-color: #313131;
    justify-content: space-between;
    
}

.header-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-items: center;

}


.header-nav-link {
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding-right: 40px;
}


.header-nav-link:hover{
    color: #14B9D5;
}


.header-section {
    background-image: url(/img/mainHeader.jpeg);
    height: 45vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
}


.header-section-items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.header-title {
    
    font-size: 27px;
    margin-top: 20vh;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: large;
    flex: 100%;
  
}

.header-btn-section {
    margin-top: 20px;
}

.btn {

    display: inline-block;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 4px;
    margin-right: 40px; 
}


.btn--best {
    background-color: #14B9D5;
}
.btn--sub {
    background-color: #89CA62;
}



.btn:hover{
    background-color: white;
    color: #181818;   
}


.section-title {
    font-family: 'Open Sans';
    font-size: 27px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #18B4CF;
}


.popular-posts{
    background-color: #F2F2F2;
    position: relative;
}

.popular-posts-images {
    margin: 0 20vh 5vh 20vh ;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    
} 




.popular-posts-images figure {
    background-color: white;
    height: fit-content;
}


.popular-posts-images figcaption {
        background-color: white;
        text-align: center;
        padding: 20px;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 18px;
}

.popular-clients {
    background-image: url(/img/clients-section.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title-clients {
    color: white;
    font-family: 'Open Sans';
    text-align: center;
    text-transform: uppercase;
    padding-top: 15vh;
}

.clients-hr {
    margin: 0 auto;
    margin-top: 10vh;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    border: 1px solid #18B4CF;
}

.clients-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10vh;
   align-items: center;
}

.clients-img img {
    justify-self: center;
}


.top-rated-wrapper {

   display: grid;
   grid-template-columns: repeat(6, 1fr);
   justify-content: center;
    overflow-x: hidden;
}
.top-rated-wrapper img {
    width: 100%;
}

.hot-news {
    background-color: #F2F2F2;

}

.hot-news-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: 20px;
    justify-content: center;
    margin: 0 20vh 5vh 20vh;
}

.hot-news-wrapper figcaption {
        
    background-color:  white;
    padding: 20px;
    font-family: 'Open Sans';
    
}

.hot-news-wrapper .post-1 {
    display:  flex;
    text-align:right;
}
.hot-news-wrapper .post-1 p {
    padding-top: 20px;
}

.hot-news-wrapper .post-2 img {
    width: 100%;
}

.hot-news-wrapper .post-2 {
    text-align: center;
    background-color: white;
}


.hot-news-wrapper-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 60px;
    justify-content: center;
    margin: 0 20vh 0 20vh;
}

.hot-news-wrapper-main img {
    width: 100%;
    height: 260px;
}

.hot-news-wrapper-main p {
    padding-top: 20px;
}

.hot-news-wrapper-main figure {
    background-color: white;
}

.hot-news-wrapper-main figcaption {
     
    background-color:  white;
    padding: 20px;
    font-family: 'Open Sans';
    text-align: right;
}


.hot-news-wrapper-footer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    justify-content: center;
    margin: 5vh 20vh 10vh 20vh;
    

}
.hot-news-wrapper-footer figure {
    background-color: white;
}

.hot-news-wrapper-footer figcaption {
     
    background-color:  white;
    padding:20px;
    font-family: 'Open Sans';
    
}


.hot-news-wrapper-footer .post-8 {
    display:  flex;
    text-align:right;
    
}
.hot-news-wrapper-footer .post-8 p {
    padding-top: 20px;
}

.hot-news-wrapper-footer .post-7 img {
    width: 100%;
}

.hot-news-wrapper-footer .post-7 {
    text-align: center;
    background-color: white;
}




footer {
    height: 8vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background-color: black;
}



.footer-title {
    font-family: 'Open Sans';
    font-size: 13px;
    color: white;
    font-weight: normal;
    justify-self: center;
    
}

.lioit {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}

.footer-logo {
    display: flex;
    justify-self: center;
}




#scrollup {
    position: fixed; 
    opacity: 10; 
    padding: 15px 10px 10px; 
    background:rgba(255, 255, 255, 0);
    border-radius: 1px; 
    border-radius: 5px;
    left: 10px; 
    bottom: 10px; 
    display: none; 
    cursor: pointer;
    }
    

.hideLink {
    position: absolute;
    left: 15%;
    top: 95%;
    border: 1px solid #14B9D5;
    text-decoration: none;
    color: #14B9D5;
    border-radius: 10px;
    padding: 10px;
    font-size:25px;
    }

.hideLink:hover{
    color: rgb(255, 255, 255);
    background-color: #14B9D5;
}