.btn{
    border-radius: 15px;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: black;

}

.btn--primary {
    background-color: rgb(235, 235, 235);
}

.btn--secondary {
    background-color: rgb(143, 159, 175);
}

.btn--small {
    font-size: 14px;
}

.btn--medium {
    font-size: 18px;
}

.btn--transparent {
    background-color: transparent;
    margin-top:10px;
}